.mail-app {
    margin-top: 20px;
    color: rgb(42, 42, 42);
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 250px);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

@media (max-width:800px) {
    .mail-app {
        flex-direction: column;
        justify-content: flex-start;
    }
} 